a
{
	color: #22BCE0;
}

body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}

header
{
	border: 1px solid red;
	background: #343B54;
	color: #FFFFFF;
}

header h1
{
	font-size: 1.125em;
	font-weight: normal;
}

header figure
{
	float: left;
}

header #avatar img
{
	border-radius: 50%;
	width: 55px;
}

header #logo img
{
	width: 52px;

}
